{% extends 'store/base.html' %}
{% load static %}
{% block content %}



<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item {% if '/dashboard/' == request.path %}active{% endif %}" href="{% url 'dashboard'%}"> Dashboard </a>
			<a class="list-group-item {% if '/my_orders/' == request.path %}active{% endif %}"  href="{% url 'my_orders'%}"> My Orders </a>
			<a class="list-group-item {% if '/edit_profile/' == request.path %}active{% endif %}" href="{% url 'edit_profile'%}"> Edit Profile </a>
			<a class="list-group-item {% if '/change_password/' == request.path %}active{% endif %}" href="{% url 'change_password'%}">Change Password </a>
			
			
		</ul>
		<br>
		<a class="btn btn-light btn-block" href="{% url 'logout'%}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
		<!--   SIDEBAR .//END   -->
	</aside>
	<main class="col-md-9">
        {% include 'store/alerts.html' %}
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Edit Your Profile</strong>
			
		</header>


		<div class="card-body">
			<div class="row"> 
				<div class="col-md-12">
					<div class="text-right">
                        <img src="{{userprofile.profile_pic.url}}" alt="Profile Picture" width="100" style="border-radius:50px;">
                    </div>

                   <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

        

                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="">First Name</label>
                             {{user_form.first_name}}
                        </div>

                        <div class="form-group col-md-6">
                            <label for="">Last Name</label>
                            {{user_form.last_name}}
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="">Phone Number</label>
                            {{profile_form.phone}}
                        </div>

                        <div class="form-group col-md-6">
                            <label for="">Profile Picture</label>
                            {{profile_form.profile_pic}}
                        </div>
                    </div>

                    
                        <div class="form-group">
                            <label for="">Address Line 1</label>
                            {{profile_form.address_line_1}}
                        </div>

                        <div class="form-group">
                            <label for="">Address Line 2</label>
                            {{profile_form.address_line_2}}
                        </div>
                   

                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label for="">City</label>
                            {{profile_form.city}}
                        </div>

                        <div class="form-group col-md-4">
                            <label for="">State</label>
                            {{profile_form.state}}
                        </div>

                        <div class="form-group col-md-4">
                            <label for="">Country</label>
                            {{profile_form.country}}
                        </div>
                    </div>

                    <input type="submit" value="Save" class="btn btn-primary">

                   </form>

				</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		
		
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}